<h1>Image</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Titre</th>
            <td>{{ entity.titre }}</td>
        </tr>
        <tr>
            <th>Descriptif</th>
            <td>{{ entity.descriptif }}</td>
        </tr>
        <tr>
            <th>Datecreation</th>
            <td>{{ entity.dateCreation|format_date(null, 'fr', 'Europe/Paris', constant('IntlDateFormatter::LONG')) }}</td>
        </tr>
        <tr>
            <th>Url</th>
            <td>{{ entity.url }}</td>
        </tr>
        <tr>
            <th>Taille</th>
            <td>{{ entity.taille }}</td>
        </tr>
        <tr>
            <th>Poids</th>
            <td>{{ entity.poids }}</td>
        </tr>
        <tr>
            <th>Logiciel</th>
            <td>{{ entity.logiciel }}</td>
        </tr>
        <tr>
            <th>Ajouté le</th>
            <td>{{ time_diff(entity.created) }}</td>
        </tr>
        <tr>
            <th>Modifié le</th>
            <td> {% if entity.updated %}
                    {{ time_diff(entity.updated) }}
                 {% else %}
                    jamais
                 {% endif %}
            </td>
        </tr>
        <tr>
            <th>Isportfolio</th>
            <td>{{ entity.isPortfolio }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('image') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('image_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('image_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
