{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% include "OrchestraOrchestraBundle:Default:stylesheet.html.twig" %}
    <link rel="stylesheet" href="{{ asset('bundles/orchestraorchestra/css/style_edit_profil.css') }}" type="text/css" media="all" />
{% endblock %}


{% block header %}
    {% include "OrchestraOrchestraBundle:Default:header.html.twig" %}      
{% endblock %}


{% block contenu %}

<div id="contenu">
    {% include "OrchestraOrchestraBundle:Default:menu_gauche.html.twig" %}
        
        <h1>Modification du tutorat</h1>

<form action="{{ path('module_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Modifier</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('module') }}">
            Revenir à la liste des tutorats
        </a>
    </li>
    <li>
        <form action="{{ path('module_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Supprimer</button>
        </form>
    </li>
</ul>

                </div>

{% endblock %} 