{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% include "OrchestraOrchestraBundle:Default:stylesheet.html.twig" %}
    <link rel="stylesheet" href="{{ asset('bundles/orchestraorchestra/css/style_edit_profil.css') }}" type="text/css" media="all" />
{% endblock %}


{% block header %}
    {% include "OrchestraOrchestraBundle:Default:header.html.twig" %}      
{% endblock %}


{% block contenu %}

<div id="contenu">
    {% include "OrchestraOrchestraBundle:Default:menu_gauche.html.twig" %}
<h1>Liste des Tutorats</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Intitule</th>
            <th>Date</th>
            <th>Ajouté le</th>
            <th>Par</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('module_show', { 'id': entity.id }) }}">{{ entity.intitule }}</a></td>
            <td>{{ entity.date| format_datetime(null, 'fr', 'Europe/Paris', constant('IntlDateFormatter::LONG'), constant('IntlDateFormatter::SHORT')) }}</td>
            <td>{{ entity.created|format_date }}</td>
            <td>{{ entity.moduleUser.firstname }} {{ entity.moduleUser.lastname }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('module_show', { 'id': entity.id }) }}">Voir</a>
                    </li>
                    {% if is_granted("ROLE_ADMIN") or entity.moduleUser.id == app.security.getToken().getUser().getId() %}
                    <li>
                        <a href="{{ path('module_edit', { 'id': entity.id }) }}">Modifier</a>
                    </li>
                    {% endif %}
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if is_granted("ROLE_ADMIN") %}
<ul>
    <li>
        <a href="{{ path('module_new') }}">
            Ajouter un tutorat
        </a>
    </li>
</ul>
{% endif %}

<h3>Prochains tutorats</h3>

    {% render 'OrchestraOrchestraBundle:Module:next' with {'max':3} %}


                </div>

{% endblock %} 
