{% if tutorat_jours %}

        {% for tutorat_jour in tutorat_jours %}
        <div class="records_list">    
            
            <div class="intitule">{{ tutorat_jour.intitule }}</div>
            <div class="picto_detail"><a href="{{ path('module_show', { 'id': tutorat_jour.id }) }}"><img  src="{{ asset ('bundles/orchestraorchestra/img/picto_voir_profil_vide.png') }}" alt="" /></a></div>
           
            
           
            <div class="date">{{ tutorat_jour.date|format_datetime(null, 'fr', 'Europe/Paris', constant('IntlDateFormatter::LONG'), constant('IntlDateFormatter::SHORT')) }}</div>

            <div class="ajout_par">Ajouté par <a href="{{ path('OrchestraOrchestraBundle_profil', { 'id': tutorat_jour.moduleUser.id }) }}">{{ tutorat_jour.moduleUser.firstname }} {{ tutorat_jour.moduleUser.lastname }}</a></div>
    
            {% if is_granted("ROLE_ADMIN") or tutorat_jour.moduleUser.id == app.security.getToken().getUser().getId() %}
               <div class="picto_modif_tuto"><a href="{{ path('module_edit', { 'id': tutorat_jour.id }) }}"><img src="{{ asset ('bundles/orchestraorchestra/img/picto_modif_c.png') }}" alt="" /></a></div>
            {% endif %}
    
    
        </div>
        {% endfor %}

{% else %}

<p>Pas de tutorats aujourd'hui</p>

{% endif %}



