

{% for entity in entities %}
<div class="records_list">
    <div class="intitule">{{ entity.intitule }}</div>
    <div class="picto_detail"><a href="{{ path('module_show', { 'id': entity.id }) }}"><img  src="{{ asset ('bundles/orchestraorchestra/img/picto_voir_profil_vide.png') }}" alt="" /></a></div>
   
    
   
    <div class="date">{{ entity.date|format_datetime(null, 'fr', 'Europe/Paris', constant('IntlDateFormatter::LONG'), constant('IntlDateFormatter::SHORT')) }}</div>
    <div class="new">NEW</div>
    
    {% if is_granted("ROLE_ADMIN") or entity.moduleUser.id == app.security.getToken().getUser().getId() %}
       <div class="picto_modif"><a href="{{ path('module_edit', { 'id': entity.id }) }}"><img src="{{ asset ('bundles/orchestraorchestra/img/picto_modif.png') }}" alt="" /></a></div>
    {% endif %}
    
    <div class="ajout_par">Ajouté par <a href="{{ path('OrchestraOrchestraBundle_profil', { 'id': entity.moduleUser.id }) }}">{{ entity.moduleUser.firstname }} {{ entity.moduleUser.lastname }}</a></div>

</div>
    {% endfor %}

                    
<div class="liste_complete"><a href="">Voir la liste complète</a></div>
                    

    



