{% extends '::base.html.twig' %}


{% block stylesheets %}
    {% include "OrchestraOrchestraBundle:Default:stylesheet.html.twig" %}
    
    <link rel="stylesheet" href="{{ asset('bundles/orchestraorchestra/css/style_profil.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/orchestraorchestra/css/style_tutorat_index.css') }}" type="text/css" media="all" />
{% endblock %}

{% block header %}
    {% include "OrchestraOrchestraBundle:Default:header.html.twig" %}      
{% endblock %}

{% block contenu %}

<div id="contenu">
    {% include "OrchestraOrchestraBundle:Default:menu_gauche.html.twig" %}
    
    <div id="content">
        <div id="breadcrumb" class="">
            <a href=""><img src="{{ asset ('bundles/orchestraorchestra/img/home_breadcrumb.png') }}" alt="Accueil" /></a>
        </div>
        
         <div id="actions_gauche">   
      
              <div class="bloc_tuto">
        
                <div class="titre_bloc">
                    <div class="picto_tutorat_titre"><img  src="{{ asset ('bundles/orchestraorchestra/img/picto_tutorat.png') }}" alt="" /></div>
                    <div class="txt_titre_bloc"><p>Actualités</p></div>
                </div>
                
                <div class="bloc_contenu_tuto">   
                    {% render 'OrchestraOrchestraBundle:News:liste' %}
                </div>
            </div>
   
        </div>
        
        <div id="bloc_evt">
            <div class="titre_bloc_3">
                <div class="picto_evt"><img  height="18px" src="{{ asset ('bundles/orchestraorchestra/img/picto_evt.png') }}" alt="" /></div>
                <div class="txt_titre_bloc"><p>évènements à venir</p></div>
                {% if entity.id == app.security.getToken().getUser().getId() or is_granted("ROLE_ADMIN") %}
                    <div class="picto_modif"><a href="{{ path ('user_edit', { 'id': entity.id })}}"><img src="{{ asset ('bundles/orchestraorchestra/img/picto_modif.png') }}" alt="" /></a></div>
                {% endif %}
            </div>
            
            <nav class="bloc_tab_3">
                <ul>
                    <li class="bloc_li bloc_li_3">18/02 : <span>Soutenance orale</span></li>
                    <li class="bloc_li bloc_li_3">15/03 : <span>Soirée ESTEI</span></li>
                    <li class="bloc_li bloc_li_3">25/03 : <span>Pas cours d'Anglais</span></li>
                    <li class="bloc_li bloc_li_3">20/05 : <span>Portes Ouvertes</span></li>
                    <a href=""><li class="bloc_li bloc_li_3 all">voir toutes les évènements</li></a>
                </ul>
            </nav>
        </div>
        
        
        
    </div>

</div>

{% endblock %}
