<div id="menu_gauche">

    <nav id="nav_menu">
        <ul>
            <li class="titre_menu active">
                <img class="picto_menu" src="{{ asset ('bundles/orchestraorchestra/img/picto_profil.png') }}" alt="" />
                <p class="txt_picto_menu">Profil</p>
            </li>
            <li class="titre_menu">
                <img class="picto_menu" src="{{ asset ('bundles/orchestraorchestra/img/picto_profil.png') }}" alt="" />
                <p class="txt_picto_menu">Profil</p>
            </li>
            <li class="titre_menu">
                <img class="picto_menu" src="{{ asset ('bundles/orchestraorchestra/img/picto_profil.png') }}" alt="" />
                <p class="txt_picto_menu">Profil</p>
            </li>
            <li class="titre_menu">
                <img class="picto_menu" src="{{ asset ('bundles/orchestraorchestra/img/picto_profil.png') }}" alt="" />
                <p class="txt_picto_menu">Profil</p>
            </li>
            <li class="titre_menu">
                <img class="picto_menu" src="{{ asset ('bundles/orchestraorchestra/img/picto_profil.png') }}" alt="" />
                <p class="txt_picto_menu">Profil</p>
            </li>
            <li class="titre_menu">
                <img class="picto_menu" src="{{ asset ('bundles/orchestraorchestra/img/picto_profil.png') }}" alt="" />
                <p class="txt_picto_menu">Profil</p>
            </li>
            <li class="titre_menu">
                <img class="picto_menu" src="{{ asset ('bundles/orchestraorchestra/img/picto_profil.png') }}" alt="" />
                <p class="txt_picto_menu">Profil</p>
            </li>        
        
        </ul>
    </nav>

</div>

