{% extends '::base.html.twig' %}

{% block title %}
Bienvenue !
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/orchestraorchestra/css/style_connexion.css') }}" type="text/css" media="all" />
{% endblock %}

{% block header %}
<div id="logo" >
    <img class="image_left" src="{{ asset ('bundles/orchestraorchestra/img/estei.png') }}" alt="" />
    <p id="txt_logo">Ecole supérieure des technologies électronique, informatique et infographie</p>
</div>
         
{% endblock %}

{% block contenu %}

<div id="contenu">

    <div id="bloc_connexion">
        <p id="txt_connexion">S'enregistrer</p>
        <a href="{{ path('orchestra_ldap') }}"><button id="esteiens" type="submit">Vous êtes un(e) Esteien(ne)</button></a>
        <a href="{{ path('fos_user_registration_register') }}"><button id="pros" type="submit">Vous êtes un Professionnel</button></a>
        
    </div>
    <div id="pictos">
        <div id="picto_connex"><a href="{{ path('fos_user_security_login') }}"><img src="{{ asset ('bundles/orchestraorchestra/img/picto_vide.png') }}" alt="picto inscription" /></a></div>
        <div id="picto_inscrip" class="active"><a href="{{ path('signup') }}"><img src="{{ asset ('bundles/orchestraorchestra/img/picto_vide.png') }}" alt="picto inscription" /></a></div>
    </div>



</div>

{% endblock %}
