{% if entities|length != 0 %}

    {% for entity in entities %}
            <div id="global">
                <div id="image">
                    <a href="{{ path('galerie_show', { 'id': entity.id }) }}"><img width="71" height="71" src="{{ ('image/' ~ entity.url) | apply_filter('image_small') }}" /></a>
                </div>   
                    <div id="infos">
                        <div id="title">
                            {{ entity.titre }}
                        </div>
                        
                        <div id="auteur">
                            by <a href="{{ path('OrchestraOrchestraBundle_profil', { 'id': entity.user.id }) }}">{{ entity.user.firstname }} {{ entity.user.lastname }}</a>
                        </div>
                        
                        <div id="time">
                            {{ time_diff(entity.created) }}
                        </div>
                    </div>
                    
                    <div id="modifs">
                        <ul>
                            <li>
                                <div class="picto_detail"><a class="lightbox" href="{{ path('galerie_show', { 'id': entity.id }) }}"><img  src="{{ asset ('bundles/orchestraorchestra/img/picto_voir_profil_vide.png') }}" alt="Voir" /></a></div>
                            </li>
                            {% if entity.user == app.security.getToken().getUser() or is_granted("ROLE_ADMIN") %}
                            <li>
                                <div class="picto_modif2"><a href="{{ path('image_edit', { 'id': entity.id }) }}"><img src="{{ asset ('bundles/orchestraorchestra/img/picto_modif_c.png') }}" alt="Modifier" /></a></div>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
            </div>
            
    {% endfor %}

{% else %}
Pas encore d'images
{% endif %}

