{% if entities|length != 0 %}
<table class="records_list">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Url</th>
            <th>Created</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.titre }}</td>
            <td><a href="{{ path('OrchestraOrchestraBundle_profil', { 'id': entity.user.id }) }}">{{ entity.user.firstname }} {{ entity.user.lastname }}</a></td>
            <td><a href="{{ path('galerie_show', { 'id': entity.id }) }}"><img width="71" height="71" src="{{ ('image/' ~ entity.url) | apply_filter('image_small') }}" /></a></td>
            <td>{{ time_diff(entity.created) }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('galerie_show', { 'id': entity.id }) }}">Voir</a>
                    </li>
                    {% if entity.user == app.security.getToken().getUser() or is_granted("ROLE_ADMIN") %}
                    <li>
                        <a href="{{ path('image_edit', { 'id': entity.id }) }}">Modifier</a>
                    </li>
                    {% endif %}
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
Pas encore d'images
{% endif %}