{% if entities|length != 0 %}
                            {% for entity in entities %}
                            <div class="derniers_livres">
                                <a href="{{path('livre_show', { 'id': entity.id})}}">
                                    <div class="img_biblio">
                                       {% if entity.illustration %}
                                           <img src="{{ ('bibliotheque/' ~ entity.illustration) | apply_filter('illustration_list') }}" alt="avatar" />
                                       {% else %}
                                           <img src="{{ ('bibliotheque/default.jpg') | apply_filter('illustration_list') }}" alt="avatar" />
                                       {% endif %}
                                        </div>
                                    <div class="titre_livre">
                                        {% if entity.titre|length>15 %} 
                                             {{ entity.titre|slice(0,15)}}[...]
                                        {% else %}
                                             {{ entity.titre }}
                                        {% endif %}
                                    </div>
                                    <div class="dispo_livre">
                                    
                                    {% if entity.dateRetour|date('d/m/Y') == "now"|date('d/m/Y') %}
                                        disponible !
                                    {% elseif entity.dateRetour is not null %}
                                         dispo. {{ time_diff(entity.dateRetour) }}
                                    {% else %}
                                         disponible !
                                    {% endif%}
                                         
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                  {% else %}
                  Pas encore de livres
                  {% endif %}
