<div id="bloc_emprunts">
            <div class="titre_bloc">
                <div class="picto_bibli_titre"><img height="18px" src="{{ asset ('bundles/orchestraorchestra/img/picto_biblio.png') }}" alt="" /></div>
                <div class="txt_titre_bloc"><p>Mes emprunts</p></div>
               
            </div>
            
            <nav class="bloc_tab">
               {% if entity.Livre|length > 0 %}
                <ul>
                    {% for livre in entity.Livre[:4] %}
                    <li class="bloc_li bloc_li_donnees_width">
                                        {% if livre.titre|length>13 %} 
                                            <a href="{{path('livre_show', { 'id': livre.id})}}">{{ livre.titre|slice(0,13)}}[...]</a>
                                        {% else %}
                                            <a href="{{path('livre_show', { 'id': livre.id})}}">{{ livre.titre }}</a>
                                        {% endif %} : 
                        <span>
                            {% if livre.dateRetour|date('d/m/Y') == "now"|date('d/m/Y') %}
                                rendu !
                            {% elseif livre.dateRetour is not null %}
                                 rendre {{ time_diff(livre.dateRetour) }}
                            {% else %}
                                 rendu !
                            {% endif%}
                        </span>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                Pas encore d'emprunts
                {% endif %}
            </nav>
        </div>
                          
                            
                        
