{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% include "OrchestraOrchestraBundle:Default:stylesheet.html.twig" %}
    <link rel="stylesheet" href="{{ asset('bundles/orchestraorchestra/css/style_evenement_new.css') }}" type="text/css" media="all" />
{% endblock %}


{% block header %}
    {% include "OrchestraOrchestraBundle:Default:header.html.twig" %}      
{% endblock %}


{% block contenu %}

<div id="contenu">
    
    {% include "OrchestraOrchestraBundle:Default:menu_gauche.html.twig" %}
  <div id="content">    
     <div id="content_form_edit">
           
           <div id="form_edit">        
                <div class="bloc_tuto width_tuto">

                    <div class="titre_bloc">
                        <div class="picto_tutorat_titre"><img  src="{{ asset ('bundles/orchestraorchestra/img/picto_evt.png') }}" alt="" /></div>
                        <div class="txt_titre_bloc"><p>Créer un évènement</p></div>
                    </div>
                    
                    <div class="bloc_contenu_tuto width_contenu_tuto">  
                        <form action="{{ path('evenement_create') }}" method="post" {{ form_enctype(form) }}>
                            {{ form_widget(form) }}
        
                                <button class="btn_creer" type="submit">Créer</button>
        
                        </form>
                    
                    </div>
                </div> 

           </div>
                
            <ul id="actions_droite">
                <div class="titre_bloc retour_tuto">
                    <div class="picto_tutorat_titre"><img  src="{{ asset ('bundles/orchestraorchestra/img/picto_evt.png') }}" alt="" /></div>
                    <div class="txt_titre_bloc">
                        <a href="{{ path('evenement') }}">Revenir aux évènements</a>
                    </div>
                </div>
            
                
            </ul>

      </div>
      
      <div id="vide"></div>
      
 </div>
</div>

{% endblock %}