{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% include "OrchestraOrchestraBundle:Default:stylesheet.html.twig" %}
    <link rel="stylesheet" href="{{ asset('bundles/orchestraorchestra/css/style_edit_profil.css') }}" type="text/css" media="all" />
{% endblock %}


{% block header %}
    {% include "OrchestraOrchestraBundle:Default:header.html.twig" %}      
{% endblock %}


{% block contenu %}

<div id="contenu">
    {% include "OrchestraOrchestraBundle:Default:menu_gauche.html.twig" %}
   
    
    <div id="content_form_edit">
    
        <div id="form_edit">
       
            <h1>Modifier mon profil</h1>
            
            <form action="{{ path('user_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>  
            
                {{ form_errors(edit_form) }}
            
                <div class="form_row">{{ form_row(edit_form.firstname, {'label': 'Prénom', 'attr': { 'readonly': 'true' } }) }}</div>
                <div class="form_row">{{ form_row(edit_form.lastname, {'label': 'Nom', 'attr': { 'readonly': 'true' } }) }}</div>
                <div class="form_row">{{ form_row(edit_form.username, {'label': 'Identifiant'}) }}</div>
                <div class="form_row">{{ form_row(edit_form.classe, {'label': 'Classe', 'attr': { 'readonly': 'true' } }) }}</div>
                <div class="form_row">{{ form_row(edit_form.birthdate, {'label': 'Date de naissance'}) }}</div>
                <div class="form_row">{{ form_row(edit_form.email, {'label': 'Email'}) }}</div>
                <div class="form_row">{{ form_row(edit_form.phone, {'label': 'Téléphone'}) }}</div>
                <div class="form_row">{{ form_row(edit_form.mobilePhone, {'label': 'Mobile'}) }}</div>
                    
            {% if is_granted("ROLE_ADMIN") %}
                
                <div class="form_row">{{ form_row(edit_form.isProfesseur, {'label': 'Professeur'}) }}</div>
                <div class="form_row">{{ form_row(edit_form.isEleve, {'label': 'Eleve'}) }}</div>
                <div class="form_row">{{ form_row(edit_form.isContact, {'label': 'Contact'}) }}</div>
                
            {% endif %}  
                
                {{ form_widget(edit_form._token) }}
                
                    <button type="submit" onclick="return confirm('Etes-vous sûr de vouloir modifier ?')">Enregistrer</button>
            </form>
          </div>  
                  
        <div id="actions_droite">
            <ul class="record_actions">
                <li>
                    <a href="{{ path('user_avatar',{ 'id': entity.id }) }}">
                        Modifier mon avatar
                    </a>
                </li>
                <li>
                    <a href="{{ path('user') }}">
                       Liste des utilisateurs
                    </a>
                </li>
                <li>
                   <br /><a href="{{ path('user_delete', { 'id': entity.id }) }}" onclick="return confirm('Etes-vous sûr de vouloir supprimer ?')">Supprimer mon compte</a>
                </li>
            </ul>
        </div>
    </div>
    
</div>


{% endblock %}