{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% include "OrchestraOrchestraBundle:Default:stylesheet.html.twig" %}
<link rel="stylesheet" href="{{ asset('bundles/orchestraorchestra/css/style_annuaire_liste.css') }}" type="text/css" media="all" />
{% endblock %}


{% block header %}
    {% include "OrchestraOrchestraBundle:Default:header.html.twig" %}      
{% endblock %}


{% block contenu %}

<div id="contenu">
    {% include "OrchestraOrchestraBundle:Default:menu_gauche.html.twig" %}

        <div id="content_form_edit">

                <div class="titre_bloc">
                    <div class="picto_carnet_adresse"><img  src="{{ asset ('bundles/orchestraorchestra/img/picto_adresse.png') }}" alt="" /></div>
                    <div class="txt_titre_bloc"><p>Mon carnet d'adresses</p></div>
                </div>
                
                <div id="bloc_annuaire">   
                    <form id="form_recherche" action="{{ path('user_search') }}" method="post">
                        {{ form_widget(form.motcle) }}
                        {{ form_errors(form.motcle) }} 
                        <input type="submit" value="Rechercher" />
                    </form>

                <ul id="nav_adresse">
                    <li><a href="{{ path('annuaire', { 'lettre': 'a' })}}">A</a></li>
                    <li><a href="{{ path('annuaire', { 'lettre': 'b' })}}">B</a></li>
                    <li><a href="{{ path('annuaire', { 'lettre': 'c' })}}">C</a></li>
                    <li><a href="{{ path('annuaire', { 'lettre': 'd' })}}">D</a></li>
                    <li><a href="{{ path('annuaire', { 'lettre': 'e' })}}">E</a></li>    
                    <li><a href="{{ path('annuaire', { 'lettre': 'f' })}}">F</a></li>
                    <li><a href="{{ path('annuaire', { 'lettre': 'g' })}}">G</a></li>
                    <li><a href="{{ path('annuaire', { 'lettre': 'h' })}}">H</a></li>
                    <li><a href="{{ path('annuaire', { 'lettre': 'i' })}}">I</a></li>
                    <li><a href="{{ path('annuaire', { 'lettre': 'j' })}}">J</a></li>
                    <li><a href="{{ path('annuaire', { 'lettre': 'k' })}}">K</a></li>
                    <li><a href="{{ path('annuaire', { 'lettre': 'l' })}}">L</a></li>
                    <li><a href="{{ path('annuaire', { 'lettre': 'm' })}}">M</a></li>
                    <li><a href="{{ path('annuaire', { 'lettre': 'n' })}}">N</a></li>
                    <li><a href="{{ path('annuaire', { 'lettre': 'o' })}}">O</a></li>
                    <li><a href="{{ path('annuaire', { 'lettre': 'p' })}}">P</a></li>
                    <li><a href="{{ path('annuaire', { 'lettre': 'q' })}}">Q</a></li>
                    <li><a href="{{ path('annuaire', { 'lettre': 'r' })}}">R</a></li>
                    <li><a href="{{ path('annuaire', { 'lettre': 's' })}}">S</a></li>
                    <li><a href="{{ path('annuaire', { 'lettre': 't' })}}">T</a></li>
                    <li><a href="{{ path('annuaire', { 'lettre': 'u' })}}">U</a></li>
                    <li><a href="{{ path('annuaire', { 'lettre': 'v' })}}">V</a></li>
                    <li><a href="{{ path('annuaire', { 'lettre': 'w' })}}">W</a></li>
                    <li><a href="{{ path('annuaire', { 'lettre': 'x' })}}">X</a></li>
                    <li><a href="{{ path('annuaire', { 'lettre': 'y' })}}">Y</a></li>
                    <li><a href="{{ path('annuaire', { 'lettre': 'z' })}}">Z</a></li>
                </ul>


                    <div id="resultats_recherche"> 
                        {% include 'OrchestraOrchestraBundle:User:liste.html.twig' with {'entities' : entities}  %}
                    </div>
                    
                </div>
          

                    <script>
                    $("#form_recherche").submit(function(){ 
    
                        var motcle = $("#usersearch_motcle").val();
                        var DATA = 'motcle=' + motcle;
                        $.ajax({
                            type: "POST",
                            url: "{{ path('user_search')}}",
                            data: DATA,
                            cache: false,
                            success: function(data){
                               $('#resultats_recherche').html(data);
                            }
                        });    
                        return false;
                    });
                        </script>


                    </div>

{% endblock %} 