     

            <h1>
                <a href="{{ path('annuaire') }}">
                    {% if total is defined %}
                       {% if total > 1 %} {{ total }} utilisateurs
                       {% else %}{{ total }} utilisateur
                       {% endif %}
                     {% endif %} 
                {% if entities|length != 0 %}
                </a>
           </h1>
           
                <table class="records_list">
                    <thead>
                        <tr >
                            {% if is_granted("ROLE_ADMIN") %}<th>Id</th>{% endif %}
                            <th class="records_list_th_td prenom">Avatar</th>
                            <th class="records_list_th_td prenom">{{ knp_pagination_sortable(entities, 'Prénom', 'a.firstname') }}</th>
                            <th class="records_list_th_td nom">{{ knp_pagination_sortable(entities, 'Nom', 'a.lastname') }}</th>
                            <th class="records_list_th_td classe">{{ knp_pagination_sortable(entities, 'Classe', 'a.classe') }}</th>
                            {% if is_granted("ROLE_ADMIN") %}<th>Email</th>{% endif %}
                            
                            <th>Statut</th>
                            <!--   <th>Eleve</th>-->
                            <th>Contact</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr class="fond_contact">
                            <td class="bloc_carre_avatar">
                                {% if entity.photo %}
                                    <img width="70" height="70" src="{{ ('avatar/' ~ entity.photo) | apply_filter('my_thumb') }}" alt="avatar" />
                                {% else %}
                                    <img width="70" height="70" src="{{ ('avatar/default.jpg') | apply_filter('my_thumb') }}" alt="avatar" />
                                {% endif %} 
                            </td>
                            
                            
                            {% if is_granted("ROLE_ADMIN") %}<td>{{ entity.id }}</td>{% endif %}
                            <td class="records_list_th_td prenom"><a href="{{ path('OrchestraOrchestraBundle_profil', { 'id': entity.id }) }}">{{ entity.firstname }}</a></td>
                            <td class="records_list_th_td nom">{{ entity.lastname }}</td>
                            <td class="records_list_th_td classe">{{ entity.classe }}</td>
                            {% if is_granted("ROLE_ADMIN") %}<td>{{ entity.email }}</td>{% endif %}
                            
                            <td>{% if entity.isProfesseur == 1 %}<input type="radio" checked />{% else %}<input type="radio" disabled="disabled" />{% endif %}</td>
                            <td><!-- {% if entity.isEleve == 1 %}<input type="radio" checked />{% else %}<input type="radio" disabled="disabled" />{% endif %} --></td>
                            <td>{% if entity.isContact == 1 %}<input type="radio" checked />{% else %}<input type="radio" disabled="disabled" />{% endif %}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('OrchestraOrchestraBundle_profil', { 'id': entity.id }) }}">Voir</a>
                                    </li>
                                    {% if is_granted("ROLE_ADMIN") or entity.username == app.user.username %}
                                    <li>
                                        <a href="{{ path('user_edit', { 'id': entity.id }) }}">Modifier</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            
            {% else %}
            <p>Aucun résultats</p>
            <a href="{{ path('annuaire') }}">Revenir à l'annuaire</a>
            {% endif %}

            
<div class="navigation">
    {{ knp_pagination_render(entities) }}
</div>
