{% include "OrchestraOrchestraBundle:User:is_connected.html.twig" %}

<h1>Profil de : {{ entity.username }}</h1>

<table class="record_properties">
    <tbody>
        {% if is_granted("ROLE_ADMIN") %}
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>Prénom</th>
            <td>{{ entity.firstname }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ entity.lastname }}</td>
        </tr>
        <tr>
            <th>Identifiant</th>
            <td>{{ entity.username }}</td>
        </tr>
        <tr>
            <th>Classe</th>
            <td>{{ entity.classe }}</td>
        </tr>
        <tr>
            <th>Adresse</th>
            <td>{%  if address.address1 is defined %}{% else %}non renseigné{% endif %}</td>
        </tr>
        {% if is_granted("ROLE_ADMIN") %}
        <tr>
            <th>Date naiss.</th>
            <td>{{ entity.birthdate|date('d-m-Y') }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>Photo</th>
                {% if entity.photo %}
                    <td><img src="{{ ('avatar/' ~ entity.photo) | apply_filter('my_thumb') }}" /></td>
                {% else %}
                    <td><img src="{{ ('avatar/default.jpg') | apply_filter('my_thumb') }}" /></td>
                {% endif %}
        </tr>
        {% if is_granted("ROLE_ADMIN") %}
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>{{ entity.phone }}</td>
        </tr>
        <tr>
            <th>Mobilephone</th>
            <td>{{ entity.mobilePhone }}</td>
        </tr>
        <tr>
            <th>Ldap</th>
            <td>{{ entity.ldap }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>Dernière connexion</th>
            <td>{{ time_diff(entity.LastLogin) }}</td>
        </tr>
        {% if is_granted("ROLE_ADMIN") %}
        <tr>
            <th>Created</th>
            <td>{{ entity.created|format_date }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ entity.updated|format_date }}</td>
        </tr>
        <tr>
            <th>Rôles</th>
            <td>
                {% for role in entity.roles %}
                    <li>{% if role == 'ROLE_ADMIN' %}Admin{% elseif role == 'ROLE_USER'%}Utilisateur{% endif %}</li> 
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Isprofesseur</th>
            <td>{% if entity.isProfesseur == 1 %}<input type="radio" checked />{% else %}<input type="radio" disabled="disabled" />{% endif %}</td>
        </tr>
        <tr>
            <th>Iseleve</th>
            <td>{% if entity.isEleve == 1 %}<input type="radio" checked />{% else %}<input type="radio" disabled="disabled" />{% endif %}</td>
        </tr>
        <tr>
            <th>Iscontact</th>
            <td>{% if entity.isContact == 1 %}<input type="radio" checked />{% else %}<input type="radio" disabled="disabled" />{% endif %}</td>
        </tr>
        {% endif %}
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('user') }}">
            Revenir à la liste des utilisateurs
        </a>
    </li>
     {% if is_granted("ROLE_ADMIN") %}
    <li>
        <a href="{{ path('user_edit', { 'id': entity.id }) }}">
            Modifier
        </a>
    </li>
    <li>
        <form action="{{ path('user_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" onclick="return confirm('Etes-vous sûr de vouloir supprimer ?')">Supprimer</button>
        </form>
    </li>
    {% endif %}
</ul>
